<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TwoCRentals"
         connectionString="Server=localhost;Database=twoc_rentals_db;Uid=root;Pwd=root;CharSet=utf8mb4;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
